.container{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;	
	background: linear-gradient(to right, rgb(198, 11, 244), rgb(255, 0, 0));
}
h1{
	font-family: edwardian script;
	font-style: italic;
	font-weight: normal;
	border-bottom: 2px solid pink;
	border-right: 2px solid pink;
	width: 400px;
	text-align: center;
	font-size: 3em;
	color: #2E41F5;
	box-shadow: 4px 4px 5px #888888;
	background: linear-gradient(to right, rgb(9, 228, 247), rgb(239, 252, 3));
}
img{
	width: 450px;
	height: 300px;
	margin: 10px;
	transition: all 1s;
	animation: all 1s;

}
img:hover {
	transform: scale(1.1);

}